@font-face {
  font-family: 'Comforter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comforter/v9/H4clBXOCl8nQnlaql3Qa6A.ttf) format('truetype');
}
